body
{
 margin:0;
 padding:0;
 background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
  
.container

{
   margin-top:15%;
   margin-left:35%; 
  font-family: arial, sans-serif;
  border-collapse:collapse;
  width:40%;


}

.container td, th 
{
  border: 1px solid #dddddd;
  text-align:left;
  padding: 8px;

}